@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Nanum+Pen+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --White: #ffffff;
  --Black: #1a1a1a;

  --primary-50: rgb(180, 232, 235);
  --primary-100: #307b80;
  --primary-200: #285857;

  --line-900: #2c3636;
  --line-800: #3c4b4c;
  --line-700: #4a5e60;
  --line-600: #597374;
  --line-500: #658284;
  --line-400: #7d9596;
  --line-300: #95a8a9;
  --line-200: #b5c1c1;
  --line-100: #d4d9d9;
  --line-50: #efefef;

  --grey-50: #f5f5f5;
  --grey-100: #ebebeb;
  --grey-200: #d9d9d9;
  --grey-300: #c2c2c2;
  --grey-400: #999999;
  --grey-500: #7a7a7a;
  --grey-600: #666666;
  --grey-700: #525252;
  --grey-800: #3d3d3d;
  --grey-900: #292929;
}

::-webkit-scrollbar-thumb {
  background-color: var(--line-500);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--line-50);
}
